.gradle

src/main/javascript/.vscode
src/main/javascript/lib
src/main/javascript/node_modules
src/main/javascript/.eslintrc.json
src/main/javascript/package-lock.json
src/main/javascript/dist
/build/

!gradle/wrapper/gradle-wrapper.jar



### STS ###

.apt_generated

.classpath

.factorypath

.project

.settings

.springBeans

.sts4-cache

gradle

gradlew

gradlew.bat




### IntelliJ IDEA ###

.idea

*.iws

*.iml

*.ipr

/out/



### NetBeans ###

/nbproject/private/

/build/

/nbbuild/

/dist/

/nbdist/

/.nb-gradle/