<html>
<head>
    <title>Expense Sheet</title>
</head>
<body>
    <h1>Create User</h1>

    <form action="createUser" method="post">
        First name:
        <input type="text" name="firstname" />
        <br>
        Last name:
        <input type="text" name="lastname" />
        <br>
        Email address:
        <input type="text" name="email" />
        <br>
        Phone:
        <input type="text" name="phone" />
        <br>
        User name:
        <input type="text" name="username" />
        <br>
        Password:
        <input type="text" name="password" value="Password99" />
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>